/* Fonts */
$fontCera: 'Cera', sans-serif;
$fontBrown: 'Brown', sans-serif;

/* Color Variables */
$colorWhite: #fff;
$colorLightGrey: #f2f3f5;
$colorMediumGrey: #f7f8fa;
$colorCyan: #2998cc;
$colorLightBlue: #dde3eb;
$colorMediumBlue: #9babb8;
$colorDarkBlue: #2e3847;
$colorViolet: #413281;
$colorDarkViolet: #010221;
$colorBlack: #000;

/* Transitions */
$timeDefault: 0.15s;
$timeSlow: 0.3s;
