.footer {
    border-top: 1px solid $colorLightBlue;

    &__top {
        padding: 32px 0;
    }

    &__bottom {
        background-color: $colorMediumGrey;
        color: rgba($colorDarkBlue, 0.6);
        font-size: 0.75rem;
        padding: 37px 0 41px;
    }

    &__company-brand {
        padding: 0;
    }

    &-social {
        @include flex(row, center, center, nowrap);
        @include ul-reset();

        @media (max-width: 767px) {
            margin-top: 30px;
        }

        &__item {
            & + .footer-social__item {
                margin-left: 22px;

                @media (max-width: 767px) {
                    margin-left: 14px;
                }
            }
        }

        &__link {
            display: inline-block;
            width: 18px;
            height: 18px;
            font-size: 0;
            text-align: center;
            text-decoration: none;
            color: $colorMediumBlue;

            &:hover {
                color: darken($colorMediumBlue, 20%);
            }

            &::before {
                font-size: 1rem;
            }
        }
    }

    &-nav {
        @include flex(row, flex-start, center, wrap);
        @include ul-reset();

        @media (max-width: 479px) {
            flex-direction: column;
        }

        &__item {
            & + .footer-nav__item {
                margin-left: 28px;

                @media (max-width: 479px) {
                    margin-left: 0;
                    margin-top: 5px;
                }
            }
        }

        &__link {
            color: rgba($colorDarkBlue, 0.6);

            &:hover {
                color: $colorDarkBlue;
            }
        }
    }

    &__copyright {
        @media (min-width: 1200px) {
            margin-right: 25px;
        }

        @media (max-width: 767px) {
            margin-top: 15px;
        }
    }
}
